# Check all text files in and out with lf endings
* text eol=lf

# These are explicitly not text
*.png binary
*.xpm binary
*.icns binary
*.ico binary
*.svg binary

*.mexw32 binary
*.mexw64 binary

*.lib binary
*.exe binary

*.pptx binary

*.zip binary