params {
    runtime_opts = ''
    lsf_opts = ''
}

profiles {

    standard {
        docker.enabled = false
        singularity.enabled = true
	process {
            withLabel: withGPU {
                maxForks = 1               
            }
	}
		
    }

    localdocker {
        docker.enabled = true
        singularity.enabled = false
    }

    lsf {
        process {
            executor = 'lsf'

            clusterOptions = params.lsf_opts

            withLabel: withGPU {
                queue = 'gpu_rtx'
                clusterOptions = '-gpu "num=1" ' + params.lsf_opts
            }
        }
        docker.enabled = false
        singularity.enabled = true
    }
}

docker {
    runOptions = "${params.runtime_opts}"
    temp = "auto"
}

singularity {
    autoMounts = true
    cacheDir = "$HOME/.singularity_cache"
    runOptions = "--nv ${params.runtime_opts}"
}
