params {
    data_dir = ''
    results_dir = ''
    config_dir = ''
    working_dir = ''
    runtime_opts = ''
    cluster_opts = ''
}
data_dir = params.data_dir
results_dir = params.results_dir ? params.results_dir : data_dir
config_dir = params.config_dir ? params.config_dir : output_dir
ks_working_dir = params.ks_working_dir ? params.ks_working_dir : "${output_dir}/tmp"

profiles {

    standard {
        docker.enabled = false
        singularity.enabled = true
    }

    lsf {
        process {
            executor = 'lsf'

            clusterOptions = params.lsf_opts

            withLabel: withGPU {
                queue = 'gpu_any'
                clusterOptions = '-gpu "num=1" ' + params.lsf_opts
            }
        }
        docker.enabled = false
        singularity.enabled = true
    }
}

docker {
    runOptions = "${params.runtime_opts} -v ${data_dir}:${data_dir} -v ${results_dir}:${results_dir} -v ${config_dir}:${config_dir} -v ${ks_working_dir}:${ks_working_dir}"
    temp = "auto"
}

singularity {
    autoMounts = true
    cacheDir = "$HOME/.singularity_cache"
    runOptions = "${params.runtime_opts} -B ${data_dir}:${data_dir} -B ${results_dir}:${results_dir} -B ${config_dir} -B ${ks_working_dir}:${ks_working_dir}"
}
