params {
    npx_dir = ""
    runtime_opts = ""
    cluster_opts = ""
    out = ""
    config = ""
}
npx_dir = params.npx_dir
output_dir = "${params.out}" != '' ? "${params.out}" : npx_dir
config_dir = "${params.config}" != '' ? "${params.config}" : output_dir

profiles {

    localdocker {
        docker {
            enabled = true
        }

        singularity {
            enabled = false
        }
    }

    localsingularity {
        docker {
            enabled = false
        }

        singularity {
            enabled = true
        }
    }

    lsf {
        process {
            executor = 'lsf'
            withLabel: withGPU {
                queue = 'gpu_any'
                cpus = 2
                clusterOptions = '-gpu "num=1" ' + params.cluster_opts
            }

            clusterOptions = params.cluster_opts
        }

        docker {
            enabled = false
        }

        singularity {
            enabled = true
        }

    }
}

docker {
    runOptions = "${params.runtime_opts} -v ${npx_dir}:${npx_dir} -v ${config_dir}:${config_dir} -v ${output_dir}:${output_dir}"
    temp = "auto"
}

singularity {
    autoMounts = true
    cacheDir = "$HOME/.singularity_cache"
    runOptions = "${params.runtime_opts} --nv -B ${npx_dir} -B ${config_dir} -B ${output_dir}"
}
