params {
    in = ""
    runtime_opts = ""
    out = ""
    config = ""
}
inputDir = params.in
outputDir = "${params.out}" != '' ? "${params.out}" : inputDir
configDir = "${params.config}" != '' ? "${params.config}" : outputDir

profiles {

    localdocker {
        docker {
            enabled = true
        }

        singularity {
            enabled = false
        }
    }

    localsingularity {
        docker {
            enabled = false
        }

        singularity {
            enabled = true
        }
    }

    lsf {
        process {
            executor = 'lsf'
            withLabel: requireGPU {
                queue = 'gpu_any'
                cpus = 2
                clusterOptions = '-gpu "num=1" -P scicompsoft'
            }

            clusterOptions = '-P scicompsoft'
        }

        docker {
            enabled = false
        }

        singularity {
            enabled = true
        }

    }
}

docker {
    runOptions = "${params.runtime_opts} -v ${inputDir}:${inputDir} -v ${configDir}:${configDir} -v ${outputDir}:${outputDir}"
    temp = "auto"
}

singularity {
    autoMounts = true
    cacheDir = "$HOME/.singularity_cache"
    runOptions = "${params.runtime_opts} --nv -B ${inputDir} -B ${configDir} -B ${outputDir}"
}
